*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:"Rubik",sans-serif;
    letter-spacing: 0.4px;
}
body{
    background-color: #eaeee8;
    height:100%;
    background: linear-gradient(
        135deg,
        #0806a1,
        #9316b9
    ) fixed;
    background-size: 100% 50%;
    background-repeat: no-repeat;
}
.container{
    background-color:#d3f1eb;
    width: 450px;
    padding: 50px 40px;
    border-radius: 20px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    box-shadow: 0 10px 30px rgba(26, 8, 0.1);
}
.wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 12px 0;
}
.lbl{
    font-size: 23px;
    color: #1b1212;
    font-weight: 400;
}
.val{
    color:#140101;
    font-weight: 500;
    font-size: 25px;
}
.input-box{
    background-color: #fdfdfa;
    color:#160101;
    padding: 9px;
}
#bill{
    background-color: transparent;
    border: none;
    outline: none;
    width: 100px;
    text-align: right;
    color: #110101;
}
hr{
    border:none;
    border-bottom: 1px solid #111111;
}
input[type="range"]{
    width: 100%;
    cursor: pointer;
}
input[type="range"]:not(:last-child){
    margin-bottom: 5px;
}
section:not(:last-child){
    margin-bottom: 40px;
}
section:not(:first-child){
    margin-top: 40px;
}
section:last-child{
    background-color: #141601;
    padding: 25px;
    border-radius: 5px;
}
section:last-child .val,
section:last-child .lbl{
    color: #f80909;
}